{% extends 'base.html.twig' %}

{% block head_title %}
    New User
{% endblock %}

{% block title %}
    Create new User
{% endblock %}

{% block content %}
    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">back to list</a>
{% endblock %}
